* {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat';
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html,
body {
  height: 100%;
  width: 100%;
}

body::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: #888888;
  border: 1px solid #888888;
}

body::-webkit-scrollbar-thumb:active {
  background-color: #0033dd;
}
